@charset "UTF-8";
.header {
  position: static;
}
@media (max-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .header .select {
    margin: 0;
  }
}

.wrapper {
  overflow: visible;
}

.main__clause {
  padding: 120px 0 32px 0;
}
@media (max-width: 1200px) {
  .main__clause {
    padding-top: calc(30px + 90 * (100vw - 320px) / 880);
    padding-bottom: calc(20px + 12 * (100vw - 320px) / 880);
  }
}

.clause__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clause__article {
  max-width: 850px;
}
.clause__title {
  margin-bottom: 24px;
}
.clause__paragraph:not(:last-child) {
  margin-bottom: 32px;
}

.main__statistic {
  margin-bottom: 72px;
}
@media (max-width: 1200px) {
  .main__statistic {
    margin-bottom: calc(26px + 46 * (100vw - 320px) / 880);
  }
}

.statistic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 1200px) {
  .statistic__container {
    gap: calc(12px + 20 * (100vw - 320px) / 880);
  }
}
@media (max-width: 767.98px) {
  .statistic__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__content {
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid #F1F8FE;
}

.navigation-bar {
  height: 100%;
}
.navigation-bar__point {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18%;
}
.navigation-bar__text {
  line-height: 40px;
  margin-right: 20px;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .navigation-bar__text {
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}
.navigation-bar__right {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-right: 16px;
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #667582;
}
@media (max-width: 480px) {
  .navigation-bar__right {
    font-size: calc(12px + 4 * (100vw - 320px) / 160);
  }
}

.crypto-icon img {
  width: 18px;
}
@media (max-width: 480px) {
  .crypto-icon img {
    width: calc(14px + 4 * (100vw - 320px) / 160);
  }
}

.crypto-course__box {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .crypto-course__box {
    width: calc(110px + 60 * (100vw - 320px) / 160);
  }
}
.crypto-course__box:not(:last-child) {
  margin-bottom: 8px;
}
.crypto-course__currency {
  text-transform: uppercase;
  margin: 0 4px;
}

.about-content {
  width: 100%;
}
.about-content__content {
  padding: 24px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
}
@media (max-width: 1200px) {
  .about-content__content {
    padding-left: calc(12px + 12 * (100vw - 320px) / 880);
    padding-right: calc(12px + 12 * (100vw - 320px) / 880);
    padding-top: calc(18px + 6 * (100vw - 320px) / 880);
    padding-bottom: calc(18px + 6 * (100vw - 320px) / 880);
  }
}
.about-content__section {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.about-content__preview {
  width: 100%;
  height: 88px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .about-content__preview {
    height: calc(78px + 10 * (100vw - 320px) / 160);
  }
}

.about-nav__box {
  height: 100%;
}

.about-content__section_showed {
  opacity: 1;
  position: static;
}
.about-content__section_showed .about-content__content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.about-content__section_showed .crypto-title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.about-content__section_showed .rating {
  opacity: 1;
}

.preview-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.preview-wrapper svg {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.preview-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .preview-frame {
    padding: calc(16px + 8 * (100vw - 320px) / 160);
  }
}

.crypto-title {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 24px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
}

.rating {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  font-size: 20px;
  display: inline-block;
}
.rating::before {
  content: "★★★★★★★★";
  display: block;
  color: #BDC8D1;
  pointer-events: none;
}
.rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}
.rating__item {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.rating__item:checked ~ .rating__label {
  color: #FFC700;
}
.rating__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  height: 100%;
  cursor: pointer;
  color: #BDC8D1;
}
.rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.rating__label:hover {
  color: #ffdc5b;
}
.rating__label:hover ~ .rating__label {
  color: #ffdc5b;
}
.rating__label:checked ~ .rating__label:hover {
  color: #ffdc5b;
}

.properties-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (max-width: 1200px) {
  .properties-list {
    gap: calc(12px + 4 * (100vw - 320px) / 880);
  }
}

.properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.properties__name {
  color: #6D8D9E;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 1200px) {
  .properties__name {
    font-size: calc(12px + 2 * (100vw - 320px) / 880);
  }
}
.properties__value {
  color: #010F2E;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 1200px) {
  .properties__value {
    font-size: calc(12px + 4 * (100vw - 320px) / 880);
  }
}

.properties-decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  border-bottom: 2px dashed #F1F5F9;
}

.anim1 {
  -webkit-animation: animFolkTypeOther infinite linear 10s;
          animation: animFolkTypeOther infinite linear 10s;
}

.anim2 {
  -webkit-animation: animFolkTypeTwo infinite linear 10s;
          animation: animFolkTypeTwo infinite linear 10s;
}

.anim3 {
  -webkit-animation: animFolkTypeOne infinite linear 10s;
          animation: animFolkTypeOne infinite linear 10s;
}

.anim4 {
  -webkit-animation: animFolkTypeOther infinite linear 10s;
          animation: animFolkTypeOther infinite linear 10s;
}

.anim5 {
  -webkit-animation: animFogTypeOne infinite linear 10s;
          animation: animFogTypeOne infinite linear 10s;
}

.anim6 {
  -webkit-animation: animFogTypeTwo infinite linear 10s;
          animation: animFogTypeTwo infinite linear 10s;
}

@-webkit-keyframes animFolkTypeOne {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  23% {
    -webkit-transform: translate(0px, 1px) rotate(1deg);
            transform: translate(0px, 1px) rotate(1deg);
  }
  45% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(0px, 1px) rotate(-1deg);
            transform: translate(0px, 1px) rotate(-1deg);
  }
  86% {
    -webkit-transform: translate(-1px, 0px) rotate(1deg);
            transform: translate(-1px, 0px) rotate(1deg);
  }
}

@keyframes animFolkTypeOne {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  23% {
    -webkit-transform: translate(0px, 1px) rotate(1deg);
            transform: translate(0px, 1px) rotate(1deg);
  }
  45% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg);
            transform: translate(-2px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(0px, 1px) rotate(-1deg);
            transform: translate(0px, 1px) rotate(-1deg);
  }
  86% {
    -webkit-transform: translate(-1px, 0px) rotate(1deg);
            transform: translate(-1px, 0px) rotate(1deg);
  }
}
@-webkit-keyframes animFolkTypeTwo {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  8% {
    -webkit-transform: translate(1px, 0px) rotate(1deg);
            transform: translate(1px, 0px) rotate(1deg);
  }
  51% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  65% {
    -webkit-transform: translate(2px, -1px) rotate(-1deg);
            transform: translate(2px, -1px) rotate(-1deg);
  }
  88% {
    -webkit-transform: translate(4px, 0px) rotate(2deg);
            transform: translate(4px, 0px) rotate(2deg);
  }
}
@keyframes animFolkTypeTwo {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  8% {
    -webkit-transform: translate(1px, 0px) rotate(1deg);
            transform: translate(1px, 0px) rotate(1deg);
  }
  51% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  65% {
    -webkit-transform: translate(2px, -1px) rotate(-1deg);
            transform: translate(2px, -1px) rotate(-1deg);
  }
  88% {
    -webkit-transform: translate(4px, 0px) rotate(2deg);
            transform: translate(4px, 0px) rotate(2deg);
  }
}
@-webkit-keyframes animFolkTypeOther {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  18% {
    -webkit-transform: translate(1px, 0px) rotate(1deg);
            transform: translate(1px, 0px) rotate(1deg);
  }
  56% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(2px, -1px) rotate(-1deg);
            transform: translate(2px, -1px) rotate(-1deg);
  }
  92% {
    -webkit-transform: translate(4px, 0px) rotate(2deg);
            transform: translate(4px, 0px) rotate(2deg);
  }
}
@keyframes animFolkTypeOther {
  0%, 100% {
    -webkit-transform: translate(0) rotate(0px);
            transform: translate(0) rotate(0px);
  }
  18% {
    -webkit-transform: translate(1px, 0px) rotate(1deg);
            transform: translate(1px, 0px) rotate(1deg);
  }
  56% {
    -webkit-transform: translate(1px, 0px) rotate(0deg);
            transform: translate(1px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(2px, -1px) rotate(-1deg);
            transform: translate(2px, -1px) rotate(-1deg);
  }
  92% {
    -webkit-transform: translate(4px, 0px) rotate(2deg);
            transform: translate(4px, 0px) rotate(2deg);
  }
}
@-webkit-keyframes animFogTypeOne {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  29% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes animFogTypeOne {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  29% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@-webkit-keyframes animFogTypeTwo {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  29% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes animFogTypeTwo {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  29% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.main__calculate {
  margin-bottom: 157px;
}
@media (max-width: 1200px) {
  .main__calculate {
    margin-bottom: calc(40px + 117 * (100vw - 320px) / 880);
  }
}

.calculate-box {
  margin-top: 32px;
  border-radius: 16px;
  border: 1px solid #F1F8FE;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculate-part {
  width: 33.3333333333%;
  padding: 16px 24px;
}
.calculate-part:not(:last-child) {
  border-right: 1px solid #F1F5F9;
}
.calculate-part .properties-list {
  gap: 28px;
}
.calculate-part .properties__value {
  color: #222527;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.calculate-part .properties_green .properties__value {
  font-family: Inter;
  color: #2FC622;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}
.calculate-part__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 24px;
}
.calculate-part__title {
  font-family: Inter;
  color: #222527;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.calculate-part__ref {
  height: 24px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.calculate-part__ref::before {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(268.53deg, #4990D2 0.28%, #4E9CD5 100.16%);
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.calculate-part__ref:hover::before {
  opacity: 0.8;
}

.calculate-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 48px;
}

.graph-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Inter;
  overflow: hidden;
  height: auto;
}
@media (max-width: 1023.98px) {
  .graph {
    row-gap: 30px;
  }
}
.graph__mark-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 218px;
  z-index: -1;
}
.graph__mark-frame div {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57px;
          flex: 0 0 57px;
  border-bottom: 1px solid #F1F5F9;
  position: relative;
}
.graph__mark-frame div::before {
  content: "";
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6D8D9E;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(calc(-100% - 6px), 50%);
          transform: translate(calc(-100% - 6px), 50%);
}
.graph__mark-frame div:nth-child(1)::before {
  content: "0";
}
.graph__mark-frame div:nth-child(2)::before {
  content: "20";
}
.graph__mark-frame div:nth-child(3)::before {
  content: "40";
}
.graph__mark-frame div:nth-child(4)::before {
  content: "60";
}
.graph__mark-frame div:nth-child(5)::before {
  content: "80";
}
.graph__mark-frame div:nth-child(6)::before {
  content: "100";
}
.graph__mark-frame div:nth-child(7)::before {
  content: "140";
}
.graph__mark-frame div:nth-child(8)::before {
  content: "160";
}
.graph__value-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
@media (max-width: 1023.98px) {
  .graph__value-box {
    margin: 0 10px;
  }
}
.graph__value-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.graph__value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #9DD53A;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.graph__value-show {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  width: 28px;
  -webkit-transition: height ease-in-out 1.2s;
  transition: height ease-in-out 1.2s;
}
.graph__level {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 130%);
          transform: translate(-50%, 130%);
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  margin-top: 9px;
  color: #6D8D9E;
}

#deposit-graph {
  background-color: #A2EC48;
  height: 142.5px;
}

#grow-graph {
  background-color: #48D8EC;
  height: 24.51px;
}

#total-graph {
  background-color: #FFA15E;
  height: 169.29px;
}