.header {
  position: static;
}
@media (max-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .header .select {
    margin: 0;
  }
}

.main__subscribes {
  padding: 120px 0 40px 0;
}
@media (max-width: 1200px) {
  .main__subscribes {
    padding-top: calc(30px + 90 * (100vw - 320px) / 880);
    padding-bottom: calc(40px + 0 * (100vw - 320px) / 880);
  }
}

.subscribes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribes__article {
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .subscribes__article {
    margin-bottom: calc(20px + 28 * (100vw - 320px) / 880);
  }
}
.subscribes__title {
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  .subscribes__title {
    margin-bottom: calc(12px + 12 * (100vw - 320px) / 880);
  }
}
.subscribes__paragraph {
  max-width: 850px;
}

.subscribes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe {
  font-family: Inter;
  position: relative;
  cursor: pointer;
}
.subscribe .subscribe__box-wrapper {
  -webkit-animation: skyingCard infinite ease-in-out 5s;
          animation: skyingCard infinite ease-in-out 5s;
}
.subscribe:nth-child(2n) .subscribe__box-wrapper {
  -webkit-animation: skyingCard2 infinite ease-in-out 5s;
          animation: skyingCard2 infinite ease-in-out 5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.subscribe:nth-child(3n) .subscribe__box-wrapper {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.subscribe:hover .subscribe__wrapper {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  background-color: #F1F8FE;
}
.subscribe:active .subscribe__wrapper {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  background-color: #F1F8FE;
}
.subscribe__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  z-index: 10;
}
.subscribe__icon img {
  height: 96px;
}
.subscribe__box-wrapper {
  padding-top: 57px;
}
.subscribe__wrapper {
  z-index: 5;
  width: 124px;
  height: 305px;
  border-radius: 24px;
  border: 2px solid #F1F8FE;
  -webkit-transition: background-color ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: background-color ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: transform ease-in-out 0.4s, background-color ease-in-out 0.4s;
  transition: transform ease-in-out 0.4s, background-color ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}
.subscribe__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__name {
  color: #010F2E;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}
.subscribe__procent {
  color: #9DD53A;
  font-weight: 700;
  font-size: 32px;
  margin: 8px 0;
}
.subscribe__grow {
  color: #9DD53A;
  font-weight: 500;
  font-size: 16px;
}
.subscribe__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__box-label {
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  white-space: nowrap;
  color: #777782;
}
.subscribe__box-value {
  white-space: nowrap;
  color: #010F2E;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}
.subscribe__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.subscribe__bonus-label {
  color: #9DD53A;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}
.subscribe__bonus-value {
  color: #9DD53A;
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
}

@-webkit-keyframes skyingCard {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes skyingCard {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@-webkit-keyframes skyingCard2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
@keyframes skyingCard2 {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
.sunpower-box {
  border-radius: 24px;
  border: 2px solid #F1F8FE;
  overflow: hidden;
}

.sunpower__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Inter;
  border-bottom: 1px solid #F1F5F9;
}
@media (max-width: 480px) {
  .sunpower__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sunpower__navigation-el {
  font-size: 16px;
  line-height: 150%;
  pointer-events: none;
  text-align: center;
}
.sunpower__content {
  padding: 16px 24px 24px 24px;
}
.sunpower__section-content {
  position: absolute;
  top: 0;
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.2s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.2s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.2s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__point {
  width: 150px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #6D8D9E;
  position: relative;
  padding: 0 6px;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 480px) {
  .navigation__point {
    width: 100%;
  }
  .navigation__point:not(:last-child) {
    border-bottom: 1px solid #F1F5F9;
  }
}
.navigation__point:hover {
  color: #222527;
}
.navigation__point:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.navigation__point::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #44EE35;
  border-radius: 16px;
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.navigation__point_active {
  color: #222527;
  cursor: default;
}
.navigation__point_active::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.navigation__point_active:hover {
  background-color: transparent;
}

.about-content__paragraph {
  margin-bottom: 42px;
}

.sunpower__section_showed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  position: static;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Inter;
}
@media (max-width: 1023.98px) {
  .graph {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    row-gap: 30px;
  }
}
.graph__mark-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 218px;
  z-index: -1;
}
.graph__mark-frame div {
  height: 25%;
  border-top: 1px solid #F1F5F9;
}
.graph__value-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 1023.98px) {
  .graph__value-box {
    margin: 0 10px;
  }
}
.graph__value-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 175px;
}
.graph__value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #9DD53A;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.graph__value-show {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #A2EC48;
  border-radius: 6px;
  width: 28px;
  -webkit-transition: height ease-in-out 0.4s;
  transition: height ease-in-out 0.4s;
  height: 100%;
  max-height: 175px;
}
.graph__level {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 9px;
  color: #6D8D9E;
}

.graph-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__levels {
  padding: 96px 0 137px 0;
}
@media (max-width: 1200px) {
  .main__levels {
    padding-top: calc(20px + 76 * (100vw - 320px) / 880);
    padding-bottom: calc(48px + 92 * (100vw - 320px) / 880);
  }
}

.levels-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 176px;
}
.level__title {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #010F2E;
}
.level__subtitle {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #010F2E;
}
.level__paragraph {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #777782;
}

.progress {
  margin: 16px 0;
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  overflow: hidden;
  background-color: #E4EEF5;
}

.progress-lvl {
  background-color: #A2EC48;
  height: 100%;
  width: 0%;
  border-radius: 9999px;
  -webkit-transition: width ease 1s;
  transition: width ease 1s;
}